@charset "utf-8";
/* CSS Document */

a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
 background-color: #1D2343;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 font-size: 18px;
 position: relative;
 right: 900px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.students {
 position: relative; 
 z-index: 999;
}
.dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}

.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}

.dropdown li:hover {
 background-color: #4c9e9e;
}
.students:hover .dropdown {
 display: block;
}


.container{
	display: flex;
}

.bigblock{
	width:35%;
	height:500px;
	margin-left:100px;
	background-color: #1D2343;
	padding: 10px 0px 10px 15px;
	color:white
}


.bigimage{
	width:65%;
	max-height:70%;
	margin:auto
}


.mediumblock{
	width:20%;
	height:500px;
	margin-left:100px;
	background-color: #1D2343;
	padding: 10px 0px 10px 15px;
	color:white
}

.mediumimage{
	width:75%;
	max-height:60%;
	margin:auto
}

.smallblock{
	width:10%;
	height:500px;
	margin-left:100px;
	background-color: #1D2343;
	padding: 10px 0px 10px 15px;
	color:white;
	word-break: break-all
}

.smallimage{
	width:85%;
	max-height:40%;
	margin:auto;
	
}


#biganimation, #smallanimation{
	
	animation: rotateAnimation 10s linear infinite;
	
}

@keyframes rotateAnimation {
	
	20% {transform: rotateY(40deg);}
	0%{transform:rotateX(20deg);}
	30%{transform:rotateX(-30deg);}
	50%{transform:rotateX(20deg);}
	50%{transform:rotateY(-60deg);}
}

footer{
	background-color: #1D2343;
	color:white
}

@media screen and (max-width: 1327px) {
    .logo {
        font-size: 12px;
       }
    .menu{
        position: relative;
        right: 0px;
        font-size: 12px;
        width:100%;
		margin:0;
		padding:0px 
        
    }

    .students {
        position: relative; 
        z-index: 999;
       }
    .dropdown {
        background-color: rgb(1, 139, 139);
        padding: 1em 0;
        position: absolute; /*WITH RESPECT TO PARENT*/
        display: none;
        border-radius: 8px;
        top: 35px;
    }

    .dropdown li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
       }
       
       .dropdown li:hover {
        background-color: #4c9e9e;
       }
       .students:hover .dropdown {
        display: block;
       }
    

    
    
  }
  

  